.venv
.idea
/database/example.sqlite
/backend/__pycache__/
/tg-bot/__pycache__/
/__pycache__/
/backend/data/key.pem
/backend/data/errors.log
/backend/data/cert.pem
/backend/data/app.log
/tg-bot/bot_token.py
