.venv
.idea
.gitignore
database/data/app.log
database/data/example.sqlite
database/data/cert.pem
database/data/key.pem
tg-bot/config.py
database/app.log
database/__pycache__/
database/data/example.sqlite